<!--
app.component.html
Content for the celebrity list page.

@author Dean Heffernan
@dateCreated 18/02/2018
-->
<main>
  <section>
    <!-- Header section. -->
    <header class="header">
      <h1>{{pageTitleH1}}</h1>
      <h2>{{pageTitleH2}}</h2>
      <p>{{description}}</p>
      <div>
      <span>
        Reference:
      </span>
        <span>
        <a href="{{referenceLink}}">{{referenceLink}}</a>
      </span>
      </div>
    </header>
  </section>
  <!-- Main container. -->
  <section class="container">
    <!-- Fields container.-->
    <div class="field-container">
      <div class="field-row">
        <!-- Birthplace filter. -->
        <div class="field field-left">
          <label class="label">Birthplace:</label>
          <select [(ngModel)]="birthClause" #birth (change)="filter(birth.value)">
            <option *ngFor="let country of countries; let i = index;" value="{{country}}" selected="selected">
              {{country}}
            </option>
          </select>
        </div>
        <!-- Currency convert. -->
        <div class="field field-right">
          <label class="label">Currency Converter:</label>
          <select [(ngModel)]="currencyClause" #currency (change)="currencyAction(currency.value)">
            <option *ngFor="let currency of currencies;" value="{{currency}}">
              {{currency}}
            </option>
          </select>
        </div>
      </div>
      <div class="field-row">
        <!-- Search filter. -->
        <div class="field field-left">
          <label class="label">Search:</label>
          <input type="text" name="search" [(ngModel)]="searchClause" #search (keyup)="filter(search.value)"
                 placeholder="Search"><br>
        </div>
        <!-- Order by. -->
        <div class="field field-right">
          <label class="label">Order By:</label>
          <select [(ngModel)]="orderClause" #order (change)="orderAction(order.value)">
            <option *ngFor="let order of orders;" value="{{order}}">{{order}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <ng-container>
      <!-- Celebrity list. -->
      <section *ngIf="celebrityClone.length > 0; else noResults" class="celebrities-container">
        <div *ngFor="let celebrity of celebrityClone;">
          <!-- Celebrity card. -->
          <div class="celebrity">
            <!-- Rank header. -->
            <div class="celebrity-header">
              No: {{celebrity['rank']}}
            </div>
            <!-- Celbrity details. -->
            <div class="celebrity-details">
              <div class="celebrity-detail">
                <span>Name: {{celebrity['name']}}</span>
              </div>
              <div class="celebrity-detail">
                <span>Net Worth: {{currencyPrefix}} {{celebrity['netWorthConvert'] | currencyConvert}}</span>
              </div>
              <div class="celebrity-detail">
                Age: {{celebrity['age']}}
              </div>
              <div class="celebrity-detail">
                <span>Country of Birth: {{celebrity['country']}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
    <ng-container>
      <!-- When no search results show "No results found." text.-->
      <ng-template #noResults>
        <section *ngIf="celebrityClone.length === 0;" class="celebrities-container">
          <p>No results found.</p>
        </section>
      </ng-template>
    </ng-container>
  </section>
</main>
